<div class="container py-5">
  <h4>Submit an application</h4>

  <%= simple_form_for [@posting, @application] do |f| %>
  <%= f.input :comment %>
  <%= f.submit %>
  <% end %>
  <%= link_to 'Cancel', posting_path(@posting) %>
</div>
