<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="form-box">
        <h4>Let them know about your proposal</h4>
        <%= simple_form_for [@posting, @application] do |f| %>
        <%= f.input :comment, :as => :text, :input_html => { 'rows' => 5 } %>
        <div class="d-flex justify-content-start w-100">
          <%= f.button :submit, "Submit Application", class: 'btn_green' %>
        <% end %>
          <div class="container align-self-center">
            <%= link_to 'Cancel', posting_path(@posting) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
