<div class='container py-5'>
  <h3> <%= @posting.title %> </h3>
    <p> Posted by: <%= @posting.user %> </p>
    <br>
    <p> <%= @posting.description %>. </p>
    <!-- if application exists in this post disable button and "application sent" -->
    <%= link_to "Submit an Application", new_posting_application_path(@posting), class: 'btn_green' %>
<div>
