<p>Find me in app/views/pages/home.html.erb</p>
<div class="bd-masthead mb-3">
  <div class="container">
    <div class="row align-items-lg-center">
      <div class="col-md-8 order-md-1 col-lg-7 text-md-start">
        <h1>Browse Blockchain Projects and Join</h1>
        <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati!</h5>
      </div>
      <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
        <%= image_tag "undraw_digital_currency_qpak.svg", alt: "alttext", width: 500, class: 'img-fluid' %>

      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <h4>Recent Projects Posted</h4>
  <br>
</div>

