.btn-gradient {
  color: white;
  padding: 7px 46px;
  border-radius: 60px;
  font-size: smaller;
  background: linear-gradient(#1E9B58, #158a4b);
  transition: background 0.3s ease;
  border: 1px solid $green;
}

.btn-gradient:hover {
  background: linear-gradient(#23a861, #1c9e59);
  color: white;
}
