.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-preview {
  overflow: hidden;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: center;
  border-radius: 8px;
}

.card-preview > img {
  height: 360px;
  width: 100%;
  object-fit: cover;
}

.card-preview h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-preview p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-preview .card-preview-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-preview-infos .card-preview-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

